:root {
  /* ==================== Light theme ==================== */
  --primary-color:linear-gradient(108.08deg, #076585 0.54%, #FFFFFF 100%);
  --secondary-color:#fff;
  --tertiary-color:#ff004f;
  --fourth-color:#ababab;
  --dark-color: #252525;
  --title-color: #FFE898;
  --subtitle-color:#F7ECDE;
  --visited-color:#8A2EFF;
  --hover-color:rgba(233,40,201,0.8);
  --progress-color:#1b9bff;
  --Grad5-color:linear-gradient(108.08deg, #BBD2C5 0.53%, #536976 52.86%, #292E49 100%);
  --Grad6-color:linear-gradient(108.08deg, #536976 0.53%, #292E49 100%);
}

/* ========= Dark-theme ================== */
.dark-theme {
  --primary-color:linear-gradient(108.08deg, #BBD2C5 0.53%, #536976 52.86%, #292E49 100%);
  --secondary-color:#fff;
  --tertiary-color: ;
  --title-color:#FFD166;
  --subtitle-color:#F7ECDE;
  --visited-color:#B85EFF;
  --hover-color: rgb(233, 40, 201);
}

/* ========= basic ========= */
html {
  scroll-behavior: smooth;
  scrollbar-width: thin;
}

*,::before,::after {
  padding:0 ;
  margin:0;
  box-sizing: border-box;
  font-size: 1rem;  
}

body {
  font-family: 'Libre Baskerville', serif,-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
  Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', Helvetica, Arial;
  width:100%;
  height:100%;
  font-display: optional;
  overflow-x: hidden;
}

main {
  border: none;
  box-sizing: border-box;
  flex-direction:column;
  background:  var(--primary-color);
  background-size: cover;
  background-repeat:repeat;
}
/* ========= End basic ========= */



/* ========= pre loader  ========= */
#preloader {
  background:var(--dark-color);
  height:100vh;
  width:100%;
  position:fixed;
  z-index:9999;
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction: column;
}
.spinner {
  width: 70.4px;
  height: 70.4px;
  animation: spinner-y0fdc1 2.8s infinite ease;
  transform-style: preserve-3d;
}
.spinner > div {
  background-color: rgba(138,46,255,0.2);
  height: 100%;
  position: absolute;
  width: 100%;
  border: 3.5px solid #8a2eff;
}
.spinner div:nth-of-type(1) {
  transform: translateZ(-35.2px) rotateY(180deg);
}
.spinner div:nth-of-type(2) {
  transform: rotateY(-270deg) translateX(50%);
  transform-origin: top right;
}
.spinner div:nth-of-type(3) {
  transform: rotateY(270deg) translateX(-50%);
  transform-origin: center left;
}
.spinner div:nth-of-type(4) {
  transform: rotateX(90deg) translateY(-50%);
  transform-origin: top center;
}
.spinner div:nth-of-type(5) {
  transform: rotateX(-90deg) translateY(50%);
  transform-origin: bottom center;
}
.spinner div:nth-of-type(6) {
  transform: translateZ(35.2px);
}
@keyframes spinner-y0fdc1 {
  0% {
     transform: rotate(45deg) rotateX(-25deg) rotateY(25deg);
  }

  50% {
     transform: rotate(45deg) rotateX(-385deg) rotateY(25deg);
  }

  100% {
     transform: rotate(45deg) rotateX(-385deg) rotateY(385deg);
  }
}

/* =========================== End pre loader       ============================================================== */

/* =========================== Slides               ============================================================== */

.section-wrapper {
  width:100%;
  height:100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}
.slides {
  width:100%;
  height:100vh;
  align-items: center;
  justify-content: center;
  gap: 50px;
  scroll-snap-align:start;
  transition: all 1s;
 
}

/* =========================== End Slides =========================================================== */


/* ========= Show elements on scroll  ================================================================*/
/**
.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translatex(-100%);
  transition: all 1s;
}
.show {opacity: 1;
  filter: blur(0);
  transform: translateY(0);
}

/*==========================================*/


/* ========== Text Styles ========== */

/*@font-face {
  font-family: 'Baskervville';
  src:local('Baskervville'), url(fonts/baskerville-font) format('ttf');
  font-display: swap;
  -webkit-font-smoothing: antialiased;
}*/

h1 {
  font-family: 'Anton', sans-serif;
  text-align:left;
}
h2, h3, h4, h5, h6 {
  font-family: 'Raleway', sans-serif;
  text-align:center;
  padding-bottom:5%;
}
p {
  font-size:1rem;
  text-align:left;
  color:var(--secondary-color);
  font-weight:500;
}
.title {
  color:var(--secondary-color);
  display:flex;
  font-size: 12rem;
  text-align: center;
  place-items: center;
  opacity:0.9;
}
.title:hover{
  opacity: 1;
  transition: all 0.5s ease-in-out;
}
/* ========== End Text Styles ========== */ 



/* ========== Scroll Tracker ========== */
.scroll-tracker {
  height:0.20rem;
  position:fixed;
  inset:0 0 auto;
  background-color:var(--progress-color);
  transform-origin: left;
}
/* ========== End Scroll Tracker ========== */

#header {
  width:100%;
  height:100vh; 
  background-size: cover;
  background-position: center;
}

#navbar  {
  display:flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
}
#navbar .fa-solid{
  display:none;
}

.logo {
  width: clamp(25px,2vw,40px);
  height:clamp(25px,2vw,40px);
  border-radius: 50%;
  position: absolute;
  left:clamp(10px,2vw,20px);
  top:10px;
  display:flex;
  align-items: center;
  justify-content: center;
  overflow:hidden;
}


#sidemenu {
  height : 100vh;
  display: flex ; 
  align-items :center;
  list-style: none;
}

#nav-links {
  margin-right: clamp(4rem, 10vw, 10rem);
  position: relative;
  z-index:2;
}


.nav-link { 
  position:relative;
  color : white;
  font-size: clamp(1.6rem, 2.5vw, 6rem);
  font-family: 'baskerville';
  display : block; 
  text-decoration: none;
  padding: clamp(0.25rem, 0.65vw , 1rem) 0rem;
  margin-bottom: 1.5rem;
  font-family: 'Ibarra Real Nova' serif;
}

#nav-links:hover > .nav-link {
  opacity : 0.3 ;
}
#nav-links:hover > .nav-link:hover {
  opacity:1;
}

#nav-bg-pattern {
  background-image: radial-gradient(rgba(255,255,255, 0.1) 9%, transparent 9%);
  background-position: 0% 0%;
  background-size: 12vmin 12vmin;
  position: absolute;
  left : 0px;
  top : 0px;
  z-index: 1;
  transition: opacity 0.8s ease, background-size 0.8s ease;
}

#nav-links:hover ~ #nav-bg-pattern {
  background-size: 11vmin 11vmin;
  opacity : 0.5;
}


/**
nav ul li {
  display:inline-block;
  margin:10px 20px;
  list-style: none;
  text-align:center;
  align-items: center;
  justify-content: center;
}
.nav-link {
  position: relative;
  color :var(--subtitle-color);
  text-decoration : none; 
  font-size:1.1rem;
  font-weight: 700;
}

.nav-link::after {
  content: "";
  width:0;
  height: 2px;
  background:var(--subtitle-color);
  position: absolute;
  left:0;
  bottom:-5px;
}
.nav-link:hover::after {
  width:90%;
  transition:0.5s;
}

**/

.container {
  padding :10px 10%;
}

.nav-scrolled {
  opacity:0.7;
  z-index:1;
}


/* ========== Dark/light mode switch button ========== */
.button-box {
  width:clamp(25px,2vw,40px);
  height:clamp(25px,2vw,40px);
  background :var(--secondary-color);
  border-radius:50%;
  position: absolute;
  right:clamp(15px,2vw,30px);
  top:10px;
  display:flex;
  align-items: center;
  justify-content: center;
  overflow:hidden;
}

#theme {
  width:clamp(19px,2vw,24px);
  height:clamp(19px,2vw,24px);
}

/* ===================================  End navigation bar        ============================================== */

/* ===================================  Default Section Styling   ============================================== */
section {
  place-items:center;
  min-height:100vh;
  padding :150px 0 ;
  overflow: hidden;
  color: var(--secondary-color);

}
/* ===================================  Custom Section Styling    ============================================= */

/* ===================================  Home Section Styling      ============================================= */
#home {
  display:flex;
}
.header-text {
  display:flex;
  flex-direction: column;
  font-size:1rem;
  border-radius: 14px;
  padding: 5px 0px;
}
.header-text h1 {
  font-size: 2.5rem;
  font-weight: 900;
  color:transparent;
  /*-webkit-text-stroke: 1px var(--dark-color);*/
  background-image: linear-gradient(var(--secondary-color), var(--secondary-color));
  background-repeat: no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  background-position: -1050px 0;
  animation: backcolor 5s linear infinite alternate;
}

@keyframes backcolor{
  100%  {background-position: 0 0;}
  0% {background-position:-1050px 0;}
}


/* ==========  About Section Styling   ========== */

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.about-col-1 {
  flex-basis:35%;
}
.about-col-1 img {
  width:100%;
  border-radius: 15px;
}
.about-col-2 {
  flex-basis:60%;
}
.subtitle {
  font-size:2rem;
  font-weight: 700;
  color:var(--secondary-color);
}
.tab-titles {
  display: flex;
  margin: 20px 0 40px;
}
.tab-links {
  margin-right:60px; 
  font-size: 1.1rem;
  font-weight: 500;
  cursor:pointer;
  position:relative;
}
.tab-links::after {
  content:"";
  width:0;
  height: 3px;
  background:var(--title-color);
  position: absolute;
  left:0;
  bottom:-8px;
  transition:0.5s;
}
.tab-links.active-link::after {
  width:50%;
}
.tab-contents ul li{
  list-style: none;
  margin : 10px 0 ;
}
.tab-contents ul li span {
  color:var(--title-color);
  font-size:1.2rem;
  font-weight: 700;
}
.tab-contents{
  display:none;
}
.tab-contents.active-tab{
  display:block;
}


/* ==========  Services Section Styling   ========== */

.services-list {
  display : grid ;
  grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
  grid-gap: 1rem;
  margin-top: clamp(70px, 1rem, 150px);
  margin-bottom: clamp(25px ,1rem ,50px);
}

.services-list div {
  background: var(--dark-color);
  padding: clamp(10px, 1.25rem, 30px);
  font-size: 1rem;
  font-weight:300;
  border-radius: 10px;
  transition: background 0.5s,transform 0.5s;
}
.services-list div i {
  transform:scale(2.5);
  margin-bottom: 40px;
  padding:4%;
}

.services-list div h2 {
  font-size: 1.4rem;
  font-weight: 700;
  text-align: left;
}

.services-list div a {
  font-size: 1rem;
  font-weight: 300;
  color:var(--secondary-color);
  text-decoration: none;
  margin-top:20px;
  display:inline-block;
}

.services-list div:hover{
  background: var(--visited-color);
  transform:translateY(-8px);
}

/* ==========  Portfolio Section Styling   ========== */

.work-list {
  display:grid ; 
  grid-template-columns: repeat(auto-fit,minmax(150px,1fr));
  grid-gap: 0.5rem;
  margin-top: 60px;
  margin-bottom: 50px;
}
.work {
  border-radius:10px;
  position: relative;
  overflow:hidden;
}
.work img{
  border-radius:10px;
  display:block;
  height:250px;
  width:480px;
  transition : transform 0.5s;
  aspect-ratio: 16/9;
}

.layer {
  width:100%;
  height: 0%;
  background: linear-gradient(rgba(0,0,0,0.6),var(--visited-color));
  border-radius: 10px;
  position : absolute;
  left :0;
  bottom:0;
  overflow : hidden;
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  font-size:0.9rem;  
  transition:height 0.5s;  
}
.layer h3 {
  font-weight: 500;
  margin-bottom:20px;
  text-align: center;
}
.layer p {
  font-size: 0.7;
  text-align: center;
}
.layer a {
  margin-top:50px;
  color:var(--visited-color);
  background:var(--secondary-color);
  text-decoration: none;
  line-height: 60px;
  width:60px;
  border-radius: 50%;
  text-align:center;
  transition: transform 0.5s;
}

.layer a:hover {
  transform: scale(1.1);
}

.work:hover iframe,.work:hover img {
  transform:scale(1.1)
}
.work:hover .layer {
  height:100%;
}

.btn {
  display:block;
  margin : 50px auto ;
  width: fit-content;
  border : 1px solid var(--visited-color);
  padding: 14px 50px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 500;
  color:#fff;
  transition: background 0.5s;
}
.btn:hover {
  background: var(--visited-color);
}

/* ==========  Contact Section Styling   ========== */

.contact-left {
  flex-basis: 35%;
}
.contact-right {
  flex-basis:60%;
}
.contact-left p {
  margin-top: 30px;
}
.contact-left p i {
  color:var(--visited-color);
  margin-right:15px;
  font-size:1rem;
  transform:scale(1.5);    
}
.contact-left i {
  transform:scale(1.5);
}

.social-icons {
  margin-top: clamp(5px,10px,30px);
}
.social-icons a {
  text-decoration: none;
  font-size: 30px;
  margin-right:15px;
  color:var(--fourth-color); 
  display:inline-block;
  transition:transform 0.5s;
}

.social-icons a:hover {
  color:var(--visited-color);
  transform:translateY(-5px);  
}
.btn.btn2 {
  display:inline-block;
  background:var(--visited-color);
}

.contact-right form {width:100%;}

form input, form textarea{
  width:100%;
  border:0;
  outline:none;
  background:var(--dark-color);
  padding:clamp(10px, 12.5px, 15px);
  margin:10px 0;
  color:var(--secondary-color);
  font-size: 1rem;
  border-radius:6px;
  resize:none;
}


form input:focus, form textarea:focus{
  outline: 1px solid var(--title-color);
}

form .btn2 {
  padding:14px 60px;
  font-size:1rem;
  margin-top:20px;
  cursor:pointer;
}
#contact {overflow:hidden;}
#msg {
  color:#61B752;
  font-size:1.2rem;
  margin-top:-40px;
  display:block;
}


/* ============ attribution =========== */

.icon{
  width:2.2rem;
  height:2.2rem;
  border:5px solid var(--secondary-color);
  border-radius:100%;
  background-color:var(--secondary-color);
  transition: background 1s,transform 1s;
}
.icon:hover{
  background-color:var(--visited-color);
  border:1px solid var(--visited-color);
  transform:translateY(-5px);
}
footer a{
  margin:0.7rem;
  opacity: 0.7;
}
footer a:hover {
  opacity: 1;
}
footer{
  scroll-margin-bottom: 0%;
  width:100%;
  height:auto;
  display:flex;
  justify-content:center;
  align-items: center;
  position:fixed;
  bottom:0%;
}

/* ================ CSS for small screens ================ */

@media only screen and (max-width:720px){


/*============= GENERAL ==================*/
  
  *,::before,::after {font-size: 0.75rem;  }
  
section {
  place-items:center;
  min-height:100vh;
  padding:20px 5px;
  overflow:hidden ;
}
  
.work img {
  height:15vh;
  aspect-ratio: 16/9;
}
 
.header-text h1 {
  font-size:1.25rem;
}
  
.contact-left, .contact-right {flex-basis: 100%;}
  
.subtitle {
  font-size:1.5rem;
}
.about-col-1,.about-col-2 {
  flex-basis:100%;
}
  
.tab-links {
  font-size :1rem;
  margin-right:20px;
}
   

  
/*=============== Attribution ================*/
  
  
  .icon{
    width:1.8rem;
    height:1.8rem;
    border:3px solid var(--secondary-color);
  }
  .icon:hover{transform:translateY(-2px);}
  footer a{margin:0.5rem;}
  footer { bottom:1.2%;}
  
}

/*

.project-element:nth-child(2){transition-delay: 200ms;}

*/

















